.register {
  margin: 2.5rem auto; /* Center the registration form */
  padding: 2.5rem 3rem; /* Adjust padding */
  background-color: #195b61;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column; /* Make it a column layout */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  border-radius: 3rem;
  min-width: 38rem; /* Adjust max width */
  position: relative;
  left: 30rem;
}

.form {
  background-color: #195b61;
  border-radius: 7px;
  padding: 2rem;
  width: 100%;
  max-width: 30rem; /* Adjust max width */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; /* Center content horizontally */
}

.form input {
  border: none;
  border-bottom: 1px solid #104d34;
  padding: 8px;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(3, 56, 32);
  width: 100%; /* Take up the full width */
  max-width: 100%; /* Make sure it doesn't exceed the container width */
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%; /* Take up the full width */
  max-width: 100%; /* Make sure it doesn't exceed the container width */
}
