/* PageNav.module.css */
.nav {
  /* padding: 0 10px; */
  /* margin: 2rem; */
  margin-top: 1rem;
  background-color: rgb(251, 251, 251);
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0; /* Align the navbar to the right side of the page */
  height: 15vh;
  z-index: 100;
  /* background-color: red; */
  width: 100%;
  height: 4rem;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 15px;
}

/* Change font size for navbar links */
.nav li {
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: 700;
  text-decoration: none;
  color: white; /* Set link color */
}
a {
  font-weight: 500;
  color: #195b61;
  text-decoration: inherit;
}
a:hover {
  color: rgb(70, 139, 123);
}
.logo {
  position: absolute;
  top: 0;
  right: 5;
}

.logoImage {
  height: 50px; /* Set the logo height as needed */
  width: auto; /* Allow the width to adjust proportionally */
  margin-right: 15px; /* Add margin to separate logo from navigation items */
}
/* Add more styling properties as needed */
.profileimage {
  border-radius: 100px;
  height: 5rem;
  width: 5rem;
  position: relative;
}
